<!DOCTYPE html>
<html>
<head>
  <title>Rchallenger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- User Nav Bar (Top - Experimental #2) -->
<nav>
  <ul>
    <li id="login">
      <a id="login-trigger" href="#">
        Log In <span>▼</span>
      </a>
      <div id="login-content">
        <form>
          <!-- <fieldset id="inputs"> -->
            <%= form_tag sessions_path do %>
            <!-- <input id="username" type="email" name="Email" placeholder="Your email address" required>
            <input id="password" type="password" name="Password" placeholder="Password" required>
            -->
            <p>
              <%= label_tag :email %><br />
              <%= text_field_tag :email, params[:email] %>
            </p>
            <p>
              <%= label_tag :password %><br />
              <%= password_field_tag :password %>
            </p>
          <!-- </fieldset>
          <fieldset id="actions">
            <input type="submit" id="submit" value="Log in">
            <label><input type="checkbox" checked="checked"> Keep me signed in</label>
            -->
            <p class="button"><%= submit_tag "Log In" %></p>
            <% end %>
          <!-- </fieldset> -->
        </form>
      </div>
    </li>
    <li id="signup">
      <a href="">Sign up</a>
    </li>
  </ul>
</nav>

<!-- User Nav Bar (Top - Actual)

  <div id="user_nav" class = "header">
       <ul id="nav_list">
         <li id = "loginbutton" class = "nav_element">
           <% if current_user %>
      <%= link_to "Log out", log_out_path %>
  <% else %>
      <%= link_to "Log in", log_in_path %>
  <% end %> </li>
         <li id = "homebutton" class = "nav_element"> <%= link_to "RChallenger", root_path%> </li>
         <li class = "nav_element"> <%= link_to "Blog" %> </li>
         <li class = "nav_element"> <%= link_to "Forums" %> </li>
    </ul>
    </div>

-->

<!-- User Nav Bar (Top - Experimental #1 - Actual on L28)

<div id="user_nav" class = "header">
  <ul id="nav_list">
      <% if current_user %>
        <li id = "logoutbutton" class = "nav_element"> <%= link_to "Log out", log_out_path %> </li>
      <% else %>
        <li id = "loginbutton" class = "nav_element">
          <a href="javascript:void(0)"> Log In </a>
      <% end %>
    <div class = "logindropdown-content" id = "logindropdown">
      <%= link_to "Log in", log_in_path %>
   </div>
    </li>
    <li id = "homebutton" class = "nav_element"> <%= link_to "RChallenger", root_path%> </li>
    <li class = "nav_element" id = "blogbutton"> <%= link_to "Blog" %> </li>
    <li class = "nav_element"> <%= link_to "Forums" %> </li>
  </ul>
</div>

-->


<!-- User Registration -->

<div id="user_registration">
  <% if current_user %>
      Logged in as <%= current_user.email %>.
  <% else %>
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "Log in", log_in_path %>
  <% end %>

</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
